parameters:
	level: 0
	paths:
		- boot.php
		- include
		- util
		- Zotlabs
	scanDirectories:
		- library
	earlyTerminatingFunctionCalls:
		- http_status_exit
		- json_return_and_die
		- killme
		- goaway
